{% extends 'base.html.twig' %}

{% block main_content %}


<hr>
<h4>INGRESAR RESULTADO</h4>   
<form action="{{ path('resultado_editar_guardar') }}" method="POST">


<input hidden type="text" name="id" class="form-control" value="{{ resultado.id }}">
{{ resultado.partido.local.nombre }} <input type="text" name="goles_local" class="form-control" value="{{ resultado.golesLocal }}">
<br>
{{ resultado.partido.visitante.nombre }} <input type="text" name="goles_visitante" class="form-control" value="{{ resultado.golesVisitante }}">
<br>
<br>




<button type="post" class="btn btn-info">Guardar</button>
</form>




{% endblock %}
