{% extends 'base.html.twig' %}

{% block main_content %}


   

<hr>
<h4>RESULTADOS </h4> 

<table class="table">

{% for resultado in resultados %}

<tr>
<td>{{ resultado.partido.instancia }}</td>
{% if(resultado.jugado == "Jugado") %}
<td><span class="badge badge-success">Jugado</span></td>
{% else %}
<td><span class="badge badge-danger">No Jugado</span></td>
{% endif %}
<td>{{ resultado.partido.fecha | date("d/m/Y H:i") }} hs.</td>
<td> {{ resultado.partido.local.nombre }} <b>{{ resultado.golesLocal }}</b> - <b>{{ resultado.golesVisitante }}</b> {{ resultado.partido.visitante.nombre }} </td>

<td> <a href="{{ path('resultado_editar', { 'id': resultado.id }) }}">Editar</a> </td>

{% if(resultado.jugado == "Jugado") %}
<td> <a href="{{ path('resultado_quitar', { 'id': resultado.id }) }}">Quitar resultado</a> </td>
{% else %}
<td></td>
{% endif %}
</tr>

{% endfor %}




</table>







{% endblock %}
