<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Penca{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/custom.css') }}" />
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>
        

    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            

        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

            {% if( app.user.tipo == "user" ) %}


                <li class="nav-item {{ app.request.attributes.get('_route') == "reglamento" ? 'active'}}">
                    <a class="nav-link" href="{{ path('reglamento') }}">Reglamento</a>
                </li>

                <li class="nav-item {{ app.request.attributes.get('_route') == "ingresar_pronosticos" ? 'active'}}">
                    <a class="nav-link" href="{{ path('ingresar_pronosticos') }}">Pronósticos</a>
                </li>

                <li class="nav-item {{ app.request.attributes.get('_route') == "puntos_extra" ? 'active'}}">
                    <a class="nav-link" href="{{ path('puntos_extra') }}">Puntos extra</a>
                </li>

                <li class="nav-item {{ app.request.attributes.get('_route') == "mis_datos" ? 'active'}}">
                    <a class="nav-link" href="{{ path('mis_datos') }}">Mis datos</a>
                </li>

                <li class="nav-item {{ app.request.attributes.get('_route') == "redactar_sugerencias" ? 'active'}}">
                    <a class="nav-link" href="{{ path('redactar_sugerencias') }}">Sugerencias</a>
                </li>                                

            {% endif %}   


                <li class="nav-item {{ app.request.attributes.get('_route') == "ranking" ? 'active'}}">
                    <a class="nav-link" href="{{ path('ranking') }}">Posiciones</a>
                </li> 


            {% if( app.user.tipo == "admin" ) %}


                <li class="nav-item {{ app.request.attributes.get('_route') == "equipos" ? 'active'}}">
                    <a class="nav-link" href="{{ path('equipos') }}">Equipos</a>
                </li>

                <li class="nav-item {{ app.request.attributes.get('_route') == "partidos" ? 'active'}}">
                    <a class="nav-link" href="{{ path('partidos') }}">Partidos</a>
                </li>

                <li class="nav-item {{ app.request.attributes.get('_route') == "resultados" ? 'active'}}">
                    <a class="nav-link" href="{{ path('resultados') }}">Resultados</a>
                </li>

                <li class="nav-item {{ app.request.attributes.get('_route') == "puntos_extra_admin" ? 'active'}}">
                    <a class="nav-link" href="{{ path('puntos_extra_admin') }}">Setear puntos extra</a>
                </li>

                <li class="nav-item {{ app.request.attributes.get('_route') == "usuarios" ? 'active'}}">
                    <a class="nav-link" href="{{ path('usuarios') }}">Usuarios</a>
                </li>

                <li class="nav-item {{ app.request.attributes.get('_route') == "leer_sugerencias" ? 'active'}}">
                    <a class="nav-link" href="{{ path('leer_sugerencias') }}">Leer sugerencias</a>
                </li>                                 

            {% endif %}     
          
         


          
          
          
        </ul>
        
          <a style="color: #FFFFFF;" class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">{{ app.user.nombre }}</a>
          <a href="{{ path('fos_user_security_logout') }}"><button class="btn btn-danger my-2 my-sm-0" type="submit">Salir</button></a>
        
      </div>
</nav>
           
<div class="container">
    <br>

   {#  {% if( app.user.tipo == "user" ) %}
    <div class="alert alert-warning" role="alert">
    FASE BETA: CUALQUIER ERROR O COSA RARA <a href="{{ path('redactar_sugerencias') }}">AVISEN</a> QUE SE VIENE LA COPA!!
    </div> 
    {% endif %}   #}


   {#  {% if( app.user.tipo == "user" ) %}
    <div class="alert alert-warning" role="alert">
        <div class="row">
            <div class="col-md-3">
                <img src="{{ asset('imagenes/homer.jpg') }}" height="130" width="200">
            </div>
            <div class="col-md-9">
                <b><u>AVISO A LA COMUNIDAD:</u></b> <br><br>DEBIDO A UN ERROR HUMANO SE BORRARON LOS PRONOSTICOS DE TODOS LOS USUARIOS PARA EL PARTIDO ARGENTINA - MALI.
            </div>
        </div>    
    </div> 
    {% endif %}        #}        
    

    {% for flashMessage in app.session.flashbag.get('notificacion') %}        
        <div class="alert alert-success" role="alert">
    {{ flashMessage }}
    </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger" role="alert">
    {{ flashMessage }}
    </div>
    {% endfor %}
    
    {% block main_content %}{% endblock %}
    {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>
