{% extends 'base.html.twig' %}

{% block main_content %}


   

<hr>
<h4>USUARIOS <a href="{{ path('usuario_nuevo') }}"><button type="button" class="btn btn-link">Crear nuevo</button></a></h4> 

<table class="table table-dark">



{% for usuario in usuarios %}

<tr>
<td> {{ usuario.nombre }} </td>
<td> {{ usuario.email }} </td>
<td> <a href="{{ path('usuario_editar', { 'id': usuario.id }) }}">Editar</a> </td>
<td> <a href="{{ path('usuario_eliminar', { 'id': usuario.id }) }}">Eliminar</a> </td>
</tr>

{% endfor %}




</table>







{% endblock %}
