{% extends 'base.html.twig' %}

{% block main_content %}


   

<h2>LISTADO DE USUARIOS</h2> <a href="{{ path('usuario_nuevo') }}">Crear nuevo</a>

<table>

{% for usuario in usuarios %}

<tr>
<td> {{ usuario.nombre }} </td>
<td> {{ usuario.email }} </td>
<td> <a href="{{ path('usuario_editar', { 'id': usuario.id }) }}">Editar</a> </td>
<td> <a href="{{ path('usuario_eliminar', { 'id': usuario.id }) }}">Eliminar</a> </td>
</tr>

{% endfor %}




</table>







{% endblock %}
