{% extends 'base.html.twig' %}

{% block main_content %}


   
<form action="{{ path('ingresar_pronosticos') }}" method="POST">






<hr>

{% if app.user.campeon is null or app.user.subcampeon is null  %}        
        <div class="alert alert-danger" role="alert">
    Puntos extra sin ingresar!! <a href="{{ path('puntos_extra') }}">Ir a puntos extra</a>
    </div>
    {% endif %}


<h4>PRONÓSTICOS </h4> 
<br>

<table class="table ">
	
	<tbody>

	
   {% for partido in partidos %}



<tr>
<td>{% if(partido.instancia == "Fase de grupos") %} <span class="badge badge-success">{% if(partido.grupo != "") %}Grupo {{partido.grupo }} {% else %} {{partido.instancia}} {% endif %} </span>  {% else %} <span class="badge badge-success">{{partido.instancia}}</span>  {% endif %} </td>
<td><span class="badge ">{{ partido.dia }} {{ partido.hora }}</span></td>
<td style="text-align: right;">{{ partido.local }}</td>
<td><img width="30" height="20" src="{{ (partido.foto_local != "" and partido.foto_local != null ) ?  asset('fotos_equipos/'~ partido.foto_local)  : asset('imagenes/pregunta.jpg') }}"></td>
<td><input maxlength="2" class="pronostico_input {{ partido.es_valido_pronosticar == false ? "des" }}" {{ partido.es_valido_pronosticar == false ? "disabled" }}  value="{{ partido.pronostico.goles_local }}" type="number" name="{{partido.pronostico.id ~ "-local"}}"></td>
<td><input maxlength="2" class="pronostico_input {{ partido.es_valido_pronosticar == false ? "des" }}" {{ partido.es_valido_pronosticar == false ? "disabled" }} value="{{ partido.pronostico.goles_visitante }}" type="number" name="{{partido.pronostico.id ~ "-visitante"}}"></td>
<td><img width="30" height="20" src="{{ (partido.foto_visitante != "" and partido.foto_visitante != null ) ?  asset('fotos_equipos/'~ partido.foto_visitante)  : asset('imagenes/pregunta.jpg') }}"></td>
<td>{{ partido.visitante }}</td>



{% if(partido.resultado is defined) %}
<td><span class="badge badge-info">{{ partido.resultado.goles_local }} - {{ partido.resultado.goles_visitante }}</span></td>
<td><span class="badge">{{ partido.puntaje.puntos }} puntos</span></td>
<td>
	{% for logro in partido.puntaje.logros %}
		<p style="font-size: 11px; margin-bottom: 0px;">{{ logro }}</p>
	{% endfor %}		
</td>
{% else %}
<td></td>
<td></td>
<td></td>
{% endif %}	




</tr>

   


    {% endfor %}
</tbody>
</table>    












<br>
<button class="btn btn-info" type="post">Guardar</button>
</form>


<style type="text/css">


.pronostico_input{
	text-align: center;
	width: 50px;
}




input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}



.des{
    background-color: #dd7e6b;
    border-color: #dd7e6b;
}





</style>




{% endblock %}
