{% extends 'base.html.twig' %}

{% block main_content %}


   
<form action="{{ path('puntos_extra') }}" method="POST">






<hr>
<h4>PUNTOS EXTRA </h4> 

{% if(puntos_extra.esValidoCambiar()) %}
<div class="alert alert-info" role="alert">
  Tiene tiempo para modificar estos datos hasta el {{ puntos_extra.hasta | date("d/m/Y H:i") }} hs.
</div>
{% endif %}

<table class="table">
	
	<tbody>

		<tr>
			<td>Campeón: </td>
			<td>

				
				<select {{ puntos_extra.esValidoCambiar() == false ? 'disabled' : '' }} class="form-control" name="campeon">


					<option value="" {{ app.user.campeon is null ? 'selected' : '' }}>  </option>
				{% for equipo in equipos %}

					<option value="{{ equipo.id }}" {{ ( app.user.campeon != null and equipo.id == app.user.campeon.id) ? 'selected' : '' }}> {{ equipo.nombre }} </option>

				{% endfor %}

				</select>

			</td>
		</tr>


		<tr>
			<td>Sub Campeón: </td>
			<td>
				<select {{ puntos_extra.esValidoCambiar() == false ? 'disabled' : '' }} class="form-control" name="subcampeon">
					<option value="" {{ app.user.subcampeon is null ? 'selected' : '' }}>  </option>


				{% for equipo in equipos %}

					<option {{ ( app.user.subcampeon != null and equipo.id == app.user.subcampeon.id) ? 'selected' : '' }} value="{{ equipo.id }}"> {{ equipo.nombre }} </option>

				{% endfor %}

				</select>

			</td>
		</tr>


</tbody>
</table>    












<br>
{% if(puntos_extra.esValidoCambiar()) %}
<button class="btn btn-info" type="post">Guardar</button>
{% endif %}


{% if(puntos_extra.esValidoCambiar() == false) %}
<h3> {{ app.user.puntosExtraGenerados(puntos_extra) }} puntos ganados </h3>
{% endif %}


</form>


<style type="text/css">


.pronostico_input{
	text-align: center;
	width: 50px;
}




input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

</style>




{% endblock %}
