{% extends 'base.html.twig' %}

{% block main_content %}


   
<form action="{{ path('puntos_extra') }}" method="POST">






<hr>
<h4>PUNTOS EXTRA </h4> 

<table class="table table-dark">
	
	<tbody>

		<tr>
			<td>Campeón: </td>
			<td>
				<select class="form-control" name="campeon">



				{% for equipo in equipos %}

					<option value="{{ equipo.id }}" {{ ( app.user.campeon != null and equipo.id == app.user.campeon.id) ? 'selected' : '' }}> {{ equipo.nombre }} </option>

				{% endfor %}

				</select>

			</td>
		</tr>


		<tr>
			<td>Sub Campeón: </td>
			<td>
				<select class="form-control" name="subcampeon">



				{% for equipo in equipos %}

					<option {{ ( app.user.subcampeon != null and equipo.id == app.user.subcampeon.id) ? 'selected' : '' }} value="{{ equipo.id }}"> {{ equipo.nombre }} </option>

				{% endfor %}

				</select>

			</td>
		</tr>


</tbody>
</table>    












<br>
<button class="btn btn-info" type="post">Guardar</button>
</form>


<style type="text/css">


.pronostico_input{
	text-align: center;
	width: 50px;
}




input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

</style>




{% endblock %}
