{% extends 'base.html.twig' %}

{% block main_content %}


<hr>
<h4>TABLA DE POSICIONES {% if( app.user.tipo == "admin" ) %}
	<a href="{{ path('ranking_actualizar') }}" class="btn btn-default btn-flat"><button type="button" class="btn btn-link">Actualizar ranking</button></a>
{% endif %}</h4> 	

<br>




<div class="row">

<div class="col-md-2"></div>
<div class="col-md-8">


<table class="table" >

	


{% for r in ranking %}

<tr style="cursor: pointer; {{ r.usuario.id == app.user.id ? "font-weight: bold; font-size: 19px;" : ""}} ">
	<td> {{ loop.index }} </td>
	<td> {{ r.usuario.nombre|length > 50 ? r.usuario.nombre|slice(0, 50) ~ '...' : r.usuario.nombre  }} </td>
	<td style="text-align: center;">{{ r.puntos }} puntos</td>
</tr>

{% endfor %}

</table>

</div>
<div class="col-md-2"></div>



</div>

<style type="text/css">

tr:hover {
    background: #a4c2f4;
}

</style>




{% endblock %}
