
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Penca</title>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">  

    

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="{{ asset('css/login.css') }}" rel="stylesheet">
  </head>
  <body class="text-center">
    <form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">
      <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />  
  <img class="mb-4" src="{{ asset('imagenes/player2.png') }}" alt="" >
  <h1 class="h3 mb-3 font-weight-normal">La penca</h1>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="text" name="_username" id="inputEmail" class="form-control" placeholder="Usuario" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input name="_password" type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required>
  <div class="checkbox mb-3">

    {# <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label> #}
  </div>
  <button class="btn btn-lg btn-info btn-block" type="submit">Ingresar</button>

             {% if error %}
              <br>
     <h5 style="color: red; font-size: 14px;">Usuario o contraseña incorrecta</h4>
      {% endif %}


  {# <p class="mt-5 mb-3 text-muted">&copy; 2019</p> #}
</form>
</body>
</html>
