{% extends 'base.html.twig' %}

{% block main_content %}


   
<form action="{{ path('partido_nuevo_guardar') }}" method="POST">
<h2>NUEVO PARTIDO</h2>


Local: 
<select name="local">
	{% for equipo in equipos %}
<option value="{{ equipo.id }}">{{ equipo.nombre }}</option>
{% endfor %}
</select>
<br>
<br>
Visitante: 
<select name="visitante">
	{% for equipo in equipos %}
<option value="{{ equipo.id }}">{{ equipo.nombre }}</option>
{% endfor %}
</select>
<br>
<br>
Fecha: <input type="text" name="fecha"> (poner en formato dd/mm/aaaa, ejemplo: 20/01/2018)
<br>
<br>
Hora: <input type="text" name="hora"> (poner en formato HH:MM, ej: 20:30)
<br>
<br>
Fase: 
<select name="instancia">
<option value="Fase de grupos">Fase de grupos</option>
<option value="Octavos de final">Octavos de final</option>
<option value="Cuartos de final">Cuartos de final</option>
<option value="Semifinal">Semifinal</option>
<option value="Final">Final</option>
</select>
<br>
<br>
GRUPO:
<select name="grupo">
<option value="A">A</option>
<option value="B">B</option>
<option value="C">C</option>
<option value="D">D</option>
<option value="E">E</option>
<option value="F">F</option>
<option value="G">G</option>
<option value="H">H</option>
<option value="I">I</option>
<option value="J">J</option>
<option value="K">K</option>

</select>

<br>
<br>





<br>
<button type="post">Guardar</button>
</form>




{% endblock %}
